/*
 *  Código por William Di Biasi Bogik
 *
 */
main.mindmais .slick-slider button.slick-next.slick-arrow, 
main.mindmais .slick-slider button.slick-prev.slick-arrow{
    border: solid var(--brand-color);
    border-width: 0 5px 5px 0;
}
main.mindmais > .banners-top .slicker{

}
main.mindmais > .banners-top .slicker .slick-dots li:not(.slick-active) button:before{
    background-color: rgba(255, 255, 255, 0.8);
}
main.mindmais > .banners-top .slicker .slick-dots li.slick-active button:before{
    padding: 0.79rem 1.2rem;
    border-radius: 1.2rem;
}
main.mindmais > .nav-brands{
    padding: 2rem 3rem;
}
main.mindmais > .nav-brands h2{
    margin: .2rem 0 1.5rem 0;
}
main.mindmais > .nav-brands .slicker{
    /*display: flex;
    justify-content: center;
    padding: 0 4rem;*/
}
main.mindmais > .nav-brands .slicker .item:not(:last-child){
    margin-right: 1rem;
}
main.mindmais > .nav-brands .slicker .item > .image{
    background-color: var(--sand); /*remover*/
}
main.mindmais > .nav-brands .slicker .item > .name,
main.mindmais > .nav-brands .slicker .item > .desc{
    padding: 0 0.5rem;
}

@media screen and (max-width: 831px) and (orientation : portrait){
    main.mindmais > .nav-brands{
        padding: 2rem 1.5rem;
    }
    main.mindmais h2{
        font-size: 1.5rem;
        white-space: nowrap;
    }
}