/*
 *  Código por William Di Biasi Bogik
 *
 */
main.mindmais .slick-slider button.slick-next.slick-arrow, 
main.mindmais .slick-slider button.slick-prev.slick-arrow{
    border: solid var(--brand-color);
    border-width: 0 5px 5px 0;
}
main.mindmais > .banners-top{
    min-height: 25.813rem;
    max-height: 37.5rem;
}
main.mindmais > .banners-top .slicker .img-container > img.lazy:not(.lazyComplete){
    height: 25.849rem;
}
main.mindmais > .banners-top .slicker .slick-dots li:not(.slick-active) button:before{
    background-color: rgba(255, 255, 255, 0.8);
}
main.mindmais > .banners-top .slicker .slick-dots li.slick-active button:before{
    padding: 0.79rem 1.2rem;
    border-radius: 1.2rem;
}
main.mindmais > .nav-brands{
    min-height: 47.313rem;
}
main.mindmais > .nav-brands,
main.mindmais > .nav-categories{
    position: relative;
    margin: 0 0 3rem 0;
    padding: 2rem 5rem 3rem 5rem;
}
main.mindmais .nav-brands > .seemore{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.9rem 6.2rem 0 0;
    color: var(--brand-color);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
main.mindmais .nav-brands > .seemore:hover{
    font-weight: 600;
}
main.mindmais > .nav-brands h2,
main.mindmais > .nav-categories h2{
    font-family: Helvetica;
    margin: .2rem 0 2rem 0;
}
main.mindmais > .nav-brands .slicker{
    /*display: flex;
    justify-content: center;
    padding: 0 4rem;*/
}
main.mindmais > .nav-brands .slicker .item:not(:last-child){
    margin-right: 1rem;
}
main.mindmais > .nav-brands .slicker .item > .image img{
    height: auto;
    width: auto;
}
main.mindmais > .nav-categories .slicker .item > a.image{
    position: relative;
    display: block;
    text-decoration: none;
}
main.mindmais > .nav-brands .slicker .item > .name{
    font-family: Didot, serif;
    font-size: 1.2rem;
}
main.mindmais > .nav-categories .slicker .item > .name,
main.mindmais > .nav-brands .slicker .item > .desc{
    font-family: Lustria, serif;
}
main.mindmais > .nav-brands .slicker .item > .name,
main.mindmais > .nav-categories .slicker .item > a.image > .name,
main.mindmais > .nav-brands .slicker .item > .desc{
    padding: .5rem .5rem 0 .5rem;
    margin: 0 auto;
    text-decoration: none;
}
main.mindmais > .nav-categories .slicker .item > a.image > .name{
    position: absolute;
    font-family: Lustria;
    width: 100%;
    bottom: 0;
    padding-bottom: .5rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    user-select: none;
}
main.mindmais > .nav-brands .slicker .item:hover > .name,
main.mindmais > .nav-categories .slicker .item:hover > a.image > .name{
    color: var(--brand-color);
}
main.mindmais > .nav-brands-expanded{
    display: none;
    margin: .5rem 0;
}
main.mindmais ul.alphabeticalList{
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem;
}
main.mindmais ul.alphabeticalList li,
main.mindmais select.alphabeticalList option{
    color: var(--brand-color);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
main.mindmais ul.alphabeticalList li[disabled]{
    cursor: default !important;
}
main.mindmais ul.alphabeticalList li.active{
    color: var(--white);
    background-color: var(--brand-color);
    padding: .1rem .2rem;
}
main.mindmais ul.alphabeticalList li[disabled],
main.mindmais select.alphabeticalList option[disabled]{
    opacity: .5;
}
main.mindmais > .nav-brands-expanded > select.alphabeticalList{
    display: none;
}
main.mindmais > .nav-brands-expanded > .sellersContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 2rem;
    column-gap: 2rem;
    grid-row-gap: 3rem;
    row-gap: 3rem;
    margin: 2rem 0;
    padding: 0 7rem;
}
main.mindmais > .nav-brands-expanded > .sellersContainer > a{
    flex-basis: 18%;
    text-decoration: none;
}
main.mindmais > .nav-brands-expanded > .sellersContainer > a > img{
    display: block;
    margin: 0 auto;
}
main.mindmais > .nav-brands-expanded > .sellersContainer > a > span{
    position: relative;
}
main.mindmais > .nav-brands-expanded > .sellersContainer > a > span:after{
    content: '';
    position: absolute;
    width: 0%;
    height: .25rem;
    left: 50%;
    background-color: var(--brand-color);
    transition: all 1s ease-in-out;
}
main.mindmais > .nav-brands-expanded > .sellersContainer > a:hover > span:after{
    left: 0;
    width: 100%;
}
main.mindmais > .nav-categories{
    min-height: 32.75rem;
    background-color: var(--sand);
}
main.mindmais > .nav-categories div.item{
    position: relative;
    cursor: pointer;
}
main.mindmais > .nav-categories div.item.active > div.name{
    color: var(--brand-color);
}

@media screen and (max-width: 831px) and (orientation : portrait){
    main.mindmais > .banners-top {
        min-height: initial;
        min-height: fit-content;
        max-height: 37.5rem;
    }
    main.mindmais > .nav-brands,
    main.mindmais > .nav-categories{
        min-height: initial;
        min-height: fit-content;
        padding: 2rem 1.5rem;
    }
    main.mindmais .nav-brands > .seemore{
        padding: 0;
        bottom: -1.5rem;
        top: initial;
        right: 0;
        left: 0;
        text-align: center;
    }
    main.mindmais h2{
        font-size: 1.3rem;
        white-space: nowrap;
    }
    main.mindmais > .nav-categories div.item{
        margin: 0 .5rem;
    }
    main.mindmais > .nav-brands-expanded > ul.alphabeticalList{
        display: none;
    }
    main.mindmais > .nav-brands-expanded > select.alphabeticalList{
        display: block;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: initial;
    }
    main.mindmais > .nav-brands-expanded > .sellersContainer{
        justify-content: space-evenly;
        grid-row-gap: 2rem;
        row-gap: 2rem;
        grid-column-gap: 1rem;
        column-gap: 1rem;
        padding: 0 2rem;
    }
    main.mindmais > .nav-brands-expanded > .sellersContainer > a{
        flex-basis: 40%;
    }
}