<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
	<vtex:contentPlaceHolder id="tituloDaPagina" />
	<vtex:template id="MIND - teste - head" />
	<vtex:template id="0-csm-web-styles" />
</head>

<body>
	 <vtex:template id="0-CSM-Responsive-header-new" />

	<!-- Main -->
	<main class="main-wrapper">
		<div class="main-container clearfix mind-colecao">
		
			<div id="catBanner" class="desktop-view">
				<vtex:contentPlaceHolder id="bannerCat" />
			</div>

			<div id="catBanner-mobile" class="mobile-view">
				<vtex:contentPlaceHolder id="bannerCat-mobile" />
			</div>
			
			<div class="breadcrumbs">
    		    <vtex.cmc:breadCrumb />
    		</div>
    		
    		<div class="container">

				<div class="col-left sidebar col-left-first">
					<div id="boxFiltros">
					    <vtex.cmc:searchNavigator/>
					</div>
				</div>
				<div class="col-main">
					<div class="page-title category-title">
						<h1 class="product-title align-center">
							<vtex:contentPlaceHolder id="nomeDaPagina" />
						</h1>
					</div>
					<div class="category-description std">
						<vtex:contentPlaceHolder id="descricoes" />
					</div>
					<div id="collections">
						<div class="collectionWrap">
							<vtex.cmc:searchResult layout="75f81d62-55ad-4aa7-9d39-a6691781f2e0" itemCount="48"
							columnCount="12" />
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="popup-adicionando">
		   <div class="conteudo-adicionando">
		      <span class="text-adicionando">Produto adicionado à sacola</span>
		      <a class="link-adicionando" href="/checkout#/cart">Ver sacola</a>
		   </div>
		     <div id="barratempo"></div>
		</div>
	</main>

	<!-- Main [end] -->
	<vtex:template id="MinD-FOOTER-NOVO-2021" />
	
	<vtex:template id="MIND - teste - scripts" />
	<vtex:template id="0-csm-web-scripts" />
     <script type="text/javascript" src="https://lojamindesigns.vteximg.com.br/arquivos/0-csm-infinity-scroll.min.js"></script>
	 <script type="text/javascript" src="https://lojamindesigns.vteximg.com.br/arquivos/0-csm-infinity-scroll-config.min.js"></script>
	<script type="text/javascript" src="https://lojamindesigns.vteximg.com.br/arquivos/0-csm-dep-colle-cate.js"></script>
</body>

</html>