<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">

<head>
    <vtex:contentPlaceHolder id="title" />
    <vtex:metaTags/>
    <vtex:template id="MIND - teste - head" />
    <vtex:template id="0-csm-web-styles" />
</head>

<body>

    <!--<vtex:template id="mind-header-redesign" />-->
    <vtex:template id="0-CSM-Responsive-header-new"/>
    
    <!-- Main -->
    <main class="main-wrapper">
    
        <div class="main-container container clearfix">
            <div class="institucionalPage">
                <vtex:contentPlaceHolder id="texto" />
            </div>
        </div>
        
    </main>
    <!-- Main [end] -->

    <vtex:template id="MinD-FOOTER-NOVO-2021" />
    
    <vtex:template id="MIND - teste - scripts" />
    <vtex:template id="0-csm-web-scripts"/>
</body>
</html>