/*smarthint-product*/
.smarthint {
	clear: both;
}

body.busca-vazia .smarthint {
	max-width: 1200px;
	margin: 0 auto;
}

body.busca-vazia .smarthint .product-image {
	display: block !important;
}

body.home div#smarthint-position-5 .smarthint .col-main {
	padding-left: 20px;
	padding-right: 20px;
}

body.home div#smarthint-position-5 .smarthint .slick-prev {
	left: -15px;
}

body.home div#smarthint-position-5 .smarthint .slick-next {
	right: -15px;
}

.smarthint a.bnt-sh strong {
	display: block;
	width: 100%;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-transform: initial;
	letter-spacing: 1px;
	line-height: 45px;
	background: rgba(233, 66, 115, 0.75);
	transition: background .2s linear;
}

.smarthint .slick-next,
.smarthint .slick-prev {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	display: block;
	width: 20px;
	height: 50px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0;
	z-index: 1;
}

.smarthint .slick-prev {
	left: -15px;
}

.smarthint .slick-next {
	right: -15px;
}

.smarthint .slick-next:before,
.smarthint .slick-prev:before {
	color: #000;
	font-family: FontAwesome, Icons;
	font-size: 30px;
}

.smarthint .slick-prev:before {
	content: "\f053";
}

.smarthint .slick-next:before {
	content: "\f054";
}

.smarthint .col-main {
	float: left;
	width: 100%;
}

.smarthint article.csm-shelf__product {
	padding: 10px;
	display: block;
	width: 100%;
}

.smarthint section.csm-shelf__product--top {
	display: block;
	width: 100%;
}

.smarthint li:hover {
	box-shadow: none;
}

.smarthint .csm-shelf__image {
	display: block;
	width: 100%;
	min-height: 400px;
	background: #f9f9f9;
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}

.smarthint a.csm-shelf__link {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.smarthint img {
	display: block;
	width: 100%;
	height: auto;
}

.smarthint .csm-shelf__image--hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: auto;
	max-height: 0;
	transition: opacity .2s ease-in-out;
	/* opacity: 1;
	max-height: unset;
	transition: opacity .2s linear .03s;*/
}

.smarthint .csm-shelf__image--hover:hover {
	/* position: relative; */
	opacity: 1 !important;
}

.smarthint .csm-shelf__buy {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	max-height: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform .2s ease-in-out, opacity .2s ease-in-out;
	z-index: 5;
}

.smarthint svg {
	fill: white !important;
	display: block;
	width: auto;
	height: 100%;
}

.smarthint .csm-shelf__link.js--shelf-buy {
	display: block;
	width: 100%;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-transform: initial;
	letter-spacing: 1px;
	line-height: 45px;
	background: #e94273;
	transition: background .2s linear;
	background-color: #ff0d73;
}

.csm-shelf__product:hover .csm-shelf__buy {
	opacity: 1;
	max-height: unset;
	transform: translateY(0);
	transition: transform .3s ease-in-out .3s, opacity .9s ease-in-out;
}

.smarthint .has-shelf--default .csm-shelf__buy:hover strong {
	background: #e94273;
	transition: background .2s linear;
}

.smarthint a:focus,
.smarthint a:hover {
	color: inherit;
}

.smarthint a.csm-shelf__link.js--shelf-buy {
	display: block;
	width: 100%;
	height: 100%;
}

.smarthint span.icon--minicart {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 18px;
}

.smarthint svg {
	display: block;
	width: auto;
	height: 100%;
}

.smarthint section.csm-shelf__product--bottom {
	display: block;
	width: 100%;
	min-height: 157px;
	overflow: hidden;
}

.smarthint .csm-shelf__name {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.smarthint h4 {
	color: #303030;
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: .2px;
	height: 36px;
}

.smarthint a.csm-shelf__link {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.smarthint .csm-shelf__price {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.smarthint .csm-shelf__installments p {
	color: #6d6f71;
	font-size: 14px;
	letter-spacing: .2px;
}

.smarthint strong.csm-shelf__installments--value {
	font-weight: 600;
}

.smarthint strong.csm-shelf__installments--quantity {
	font-weight: 600;
}

.smarthint .has-shelf--default .csm-shelf__product:hover .csm-shelf__image--hover:hover {
	opacity: 1;
	max-height: unset;
	transition: opacity .2s linear .03s;

}

.smarthint .csm-shelf__flags {
	position: relative;
}

.smarthint span.csm-shelf__colection {
	display: flex;
	z-index: 999;
	position: unset;
	margin: 5px 0;
}

.smarthint p.flag {
	background-size: contain !important;
	cursor: pointer;
	font-size: 0;
	width: 40px;
	height: 35px;
}

.smarthint p.flag.flag-produto-feito-a-mao {
	background: url(/arquivos/flag-feito-a-mao-v2-min.png) 50% no-repeat;
}

.smarthint p.flag.flag-produto-brasileiro {
	background: url(/arquivos/flag-feito-no-brasil-v2-min.png) 50% no-repeat;
}

.smarthint p.flag.flag-produto-sustentavel {
	background: url(/arquivos/flag-produto-sustentavel-v2-min.png) 50% no-repeat;
}

.smarthint p.flag.flag-projeto-social {
	background: url(/arquivos/flag-projeto-social-v2-min.png) 50% no-repeat;
}

.smarthint p.flag:hover::after {
	width: auto;
	opacity: 1;
	visibility: visible;
	transition: all .2s linear;
}

.smarthint p.flag::after {
	width: 0px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	color: rgb(231, 216, 216);
	font-size: 14px;
	float: left;
	padding: 10px;
	background: rgb(243, 131, 162);
	margin: -1px 0px 1px 40px;
}

.smarthint p.flag.flag-produto-feito-a-mao::after {
	content: "Produto feito a mão";
}

.smarthint p.flag.flag-produto-sustentavel::after {
	content: "Produto sustentavel";
}

.smarthint p.flag.flag-produto-brasileiro::after {
	content: "Feito no Brasil";
}

.smarthint p.flag.flag-projeto-social::after {
	content: "Projeto social";
}

.smarthint .csm-shelf__price--best strong {
	color: #ef4d79;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .2px;
}

.smarthint .csm-shelf__price--best {
	display: inline-block;
	vertical-align: middle;
}

.smarthint .csm-shelf__price--old {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .2px;
}

.smarthint .csm-shelf__price--old:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 2px;
	background: #ef4d79;
}

@media only screen and (max-width: 600px) {

	.smarthint .csm-shelf__image {
		display: block;
		width: 100%;
		min-height: 221px;
		background: #f9f9f9;
		position: relative;
		overflow: hidden;
		margin-bottom: 15px;
	}

	body.busca-vazia .smarthint .slick-next:before,
	body.busca-vazia .smarthint .slick-prev:before {
		font-size: 17px;
	}

	body.busca-vazia .smarthint .slick-prev {
		left: -6px;
	}

	body.busca-vazia .smarthint .slick-next {
		right: -5px;
	}
}

/* RECOMMENDATION SURREAL FRIDAY */
.e-surreal-friday .sh-recommendation-surreal-friday {
	display: block !important;
}

.sh-search-visible .e-surreal-friday .sh-recommendation-surreal-friday {
	display: none !important;
}

.e-surreal-friday .sh-recommendation {
	display: none !important;
}

.sh-search-visible .e-surreal-friday .sh-recommendation {
	display: block !important;
}

.e-surreal-friday .smarthint span.title-sh {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 40px;
	text-transform: uppercase;
	color: #C19ADE;
	margin-bottom: 60px;
	text-align: center;
	display: block;
}

.e-surreal-friday .smarthint .item-sh {
	width: 100% !important;
}

.e-surreal-friday .smarthint article.csm-shelf__product {
	padding: 0;
}

.e-surreal-friday .smarthint a.csm-shelf__link.js--shelf-buy {
	background: transparent;
}

.e-surreal-friday .smarthint a.csm-shelf__link.js--shelf-buy svg {
	fill: transparent !important;
	display: block;
	width: auto;
	height: auto;
}

.e-surreal-friday .smarthint a.csm-shelf__link {
	min-height: 47px;
}

.e-surreal-friday .smarthint button.slick-next.slick-arrow {
	right: 0 !important;
}

@media screen and (max-width: 650px) {
	.e-surreal-friday div#smarthint-position-1 {
		margin-top: 300px;
	}

	.e-surreal-friday .smarthint span.title-sh {
		line-height: 40px;
	}

	.e-surreal-friday .smarthint a.csm-shelf__link.js--shelf-buy svg {
		margin-right: 17px !important;
	}

	.e-surreal-friday .smarthint button.slick-prev.slick-arrow {
		left: 100px !important;
	}

	.e-surreal-friday .smarthint button.slick-next.slick-arrow {
		right: 120px !important;
	}

	.e-surreal-friday .smarthint button.slick-arrow {
		bottom: -100px !important;
	}

	.e-surreal-friday .smarthint article.csm-shelf__product {
		padding: 0 5px;
	}

	.e-surreal-friday .smarthint .has-shelf--default .slick-slide {
		margin: 0 !important;
	}

	.e-surreal-friday .smarthint .csm-shelf__price {
		margin-top: 20px;
	}

	.e-surreal-friday .smarthint .has-shelf--default ul li {
		width: 100% !important;
	}
}
/*smarthint-bought-together*/
.smarthint .bought-together .listagem .listagem-item .imagem-produto {
	min-height: 180px;
}

.smarthint .pv-sh {
	font-weight: bold;
	color: red;
}

.smarthint li.attributes-item.stocktrue.selectedtrue.selectvariant {
	border: solid 1px #5ed053;
}

.smarthint div#smarthint-bought-together .bandeiras-produto {
	display: none;
}

.smarthint div#smarthint-bought-together img.imagem-principal {
	opacity: 1 !important;
}

.smarthint .bought-together .selectedtrue label:after {
	background: url("https://service.smarthint.co/Content/valid.png");
	position: absolute;
	content: "";
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-top: 12px;
	margin-left: -2px;
}

.smarthint .bought-together .stockfalse label:after {
	background: url("https://service.smarthint.co/Content/invalid.png");
	position: absolute;
	content: "";
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-top: 12px;
	margin-left: -2px;
}

.smarthint .bought-together .listagem.borda-alpha.com-caixaXX {

	margin-top: 70px;
}

.smarthint .bought-together .preco-produto.destaque-preco {
	text-align: center;
}

.smarthint .bought-together {
	display: block;
	clear: both;
}

.smarthint .bought-together.products {
	position: relative;
}

.smarthint li.attributes-item.stockfalse.selectedfalse.selectvariant {
	display: none;
}

.smarthint .bought-together .listagem-item {
	max-height: 446px;
}

.smarthint fieldset.grupo-fields {
	margin-top: 10px;
	text-align: center;
}

.smarthint .bought-together.products>div:after {
	content: " + ";
	background-color: #e91e63;
	color: #fff;
	border-radius: 27px;
	height: 25px;
	width: 25px;
	display: block;
	position: absolute;
	font-size: 25px;
	line-height: 25px;
	padding: 0 0;
	text-align: center;
	top: 200px;
	box-shadow: 1px 1px 3px;
	opacity: 1;
	clear: both;
	margin: 0 -20px;
}

.smarthint .bought-together .result h4 {
	font-size: 28px;
	font-weight: 400;
	margin: 140px 0px 20px;
}

.smarthint .bought-together .result {
	text-align: center;
}

.smarthint .bought-together .result button {
	margin: 16px 0;
	background-color: #e91e63;
	padding: 13px 40px;
	font-size: 15px;
	font-weight: bold;
	color: white;
	border-radius: 3px;
	text-transform: uppercase;
}

.smarthint .bought-together span.tituloComprar {
	position: relative;
	top: -2px;
}


.smarthint .bought-together .result .price {
	font-size: 13px;
	color: #999;
	text-decoration: line-through;
	margin-bottom: 5px
}

.smarthint .bought-together .result .sale-price {
	font-size: 18px;
	color: #222;
	font-weight: bold;
}

.smarthint .bought-together.products>div {
	width: 23%;
	float: left;
	margin: 0 0.5%;
}

.smarthint .bought-together.products>div:nth-child(1):after {
	display: none !important;
}

.smarthint .bought-together.products>div:nth-last-child(1):after {
	content: " = ";
}

.smarthint .bought-together.products>div .actions {
	display: block;
	z-index: 99;
	font-size: 19px;
	position: absolute;
	color: #000;
	opacity: 0.7;
}

.smarthint .bought-together .actions>div {
	background-color: transparent;
	cursor: pointer;
	border-radius: 20px;
	margin: 12px 15px;
	position: relative;
	top: 10px;
}

.smarthint .fa {
	position: relative;
	top: -2px;
}

.smarthint .bought-together .actions>div i {
	margin: 6px
}

.smarthint .bought-together .price,
.smarthint .sale-price {
	display: block;
	text-align: center;
}

.smarthint .bought-together .price {
	font-size: 11px;
	color: #999;
	text-decoration: line-through;
}

.smarthint .bought-together .save {
	font-size: 13px;
	color: #666;
	font-weight: bold;
}

.smarthint .bought-together .sale-price {
	font-size: 15px;
	color: #222;
}

.smarthint .bought-together .clearfixe {
	clear: both;
}

.smarthint .bought-together .product-info {
	text-align: center;
}

.smarthint .bought-together .desabilitado>div.imagem-produto,
.smarthint .bought-together .desabilitado>div.info-produto {
	opacity: 0.6;
}

.smarthint .bought-together .desabilitado>div.actions {
	opacity: 1;
}

div#smarthint-bought-together .csm-shelf__image {
	background: #fff;
	min-height: 400px;
}

div#smarthint-bought-together .icon--minicart svg {
	fill: #fff !important;
}

@media screen and (max-width: 650px) {

	.smarthint .bought-together.products>div {
		width: 96%;
		margin: 0 2%;
		float: none;
		clear: both;
		margin-bottom: 30px !important;
	}

	.smarthint fieldset.grupo-fields {
		margin-bottom: 20px;
	}

	.smarthint fieldset.grupo-fields {
		display: inline;
		margin-top: 16px;
	}

	.smarthint .bought-together.products>div:after {
		margin: 0 auto;
		position: initial;
	}

	.smarthint .bought-together .actions>div {
		margin: 7px 0px;
	}

	.smarthint .bought-together .product-image,
	.smarthint .bought-together .product-info,
	.smarthint .bought-together .result h4,
	.smarthint .bought-together .result .cta {
		float: none;
		margin: 0 1%;
		width: 46%;
		display: inline-block;
		vertical-align: center;
	}

	.smarthint .bought-together .product-info {
		text-align: center;
		display: inline-block;
		width: 50%;
	}
}

.smarthint .change,
.smarthint .delete,
.smarthint .active {
	display: block;
	height: 25px;
	width: 25px;
}

.smarthint .bought-together svg {
	margin: 3px 3px 3px 3px;
	width: 80%;
	height: 80%;
	fill: #000 !important;
}

.smarthint .bought-together .titulo-categoria.borda-principal.cor-principal {
	border-top: solid 1px #f7f7f7;
	box-sizing: border-box;
	color: #444;
	font-size: 1.13rem;
	font-weight: 500;
	padding-top: 1.88rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.smarthint .bought-together .corpreco {
	color: #e91e63;
	font-size: 25px;
	font-weight: 600;
	line-height: 25px;
}

.smarthint .bought-together .single-price {
	font-size: 15px;
}

.smarthint .bought-together .selectvariant {
	margin: 3px 5px;
	background-color: transparent;
	padding: 6px 8px;
	font-family: Arial;
	font-size: 14px;
	cursor: pointer;
	float: left;
	width: 80px !IMPORTANT;
	height: 30px;
	text-align: center;
	border: solid 1px;
}

@media screen and (max-width: 600px) {
	.smarthint .bought-together .listagem .bought-together .listagem-item .imagem-produto {
		min-height: 180px;
		width: 48%;
		float: left;
	}

	.smarthint .info-produto {
		margin-top: 44px;
	}

	.smarthint .bought-together.products>div .actions {
		left: 35px;
	}

	.smarthint .bought-together.products>div {
		width: 96%;
		margin: 0 2%;
		float: none;
		clear: both;
		margin-bottom: 3px;
	}

	.smarthint .bought-together.products>div:after {
		margin: 0 auto;
		position: initial;
	}

	.smarthint .bought-together .product-image,
	.smarthint .bought-together .product-info,
	.smarthint .bought-together .result h4,
	.smarthint .bought-together .result .cta {
		float: none;
		margin: 0 1%;
		width: 100%;
		display: inline-block;
		vertical-align: center;
	}

	.smarthint .bought-together .product-info {
		text-align: center;
		display: inline-block;
		width: 50%;
	}

	.smarthint .bought-together .imagem-produto.has-zoom {
		display: flex;
	}

	.smarthint .bought-together.products>div:after {
		margin: 0 auto;
		position: initial;

	}



	.smarthint .bought-together.products>div:nth-last-child(1):after {
		content: " = ";
		display: none;
	}

	.smarthint .bought-together>div:nth-child(2) .actions:after {
		content: " + ";
		background-color: #e91e63;
		color: #fff;
		border-radius: 27px;
		height: 25px;
		width: 25px;
		display: block;
		position: absolute;
		font-size: 25px;
		line-height: 25px;
		padding: 0 0;
		text-align: center;
		top: -43px;
		opacity: 1;
		left: 126px;
		clear: both;
		box-shadow: unset;
	}

	.smarthint .bought-together>div:nth-child(3) .actions:after {
		content: " + ";
		background-color: #e91e63;
		color: #fff;
		border-radius: 27px;
		height: 25px;
		width: 25px;
		display: block;
		position: absolute;
		font-size: 25px;
		line-height: 25px;
		padding: 0 0;
		text-align: center;
		top: -43px;
		opacity: 1;
		left: 126px;
		clear: both;
		box-shadow: unset;
	}

	.smarthint .bought-together.products>div:after {
		display: none;
	}

	.smarthint .fa {
		bottom: 5px;
		position: relative;
	}
}
/*smarthint-look*/
.smarthint {
	clear: both;
}