/*
 *  Code by William Di Biasi Bogik
 *
 */
@charset "utf-8";
main.hotsite .moodsDestaq{
	width: 62.5rem;
}
main.hotsite .moodsDestaq .slick-list div.item a{
	text-decoration: none;
}
main.hotsite .moodsDestaq .slick-list div.item figure > img{
	padding: 1rem;
}
main.hotsite .moodsDestaq .slick-list div.item figure > figcaption{
	font-family: Helvetica;
}
main.hotsite .collections > h2,
main.hotsite .has-shelf--default > h2{
	font-family: Didot;
	color: var(--brand-color);
	text-transform: uppercase;
}
main.hotsite .collections > .container{

}
main.hotsite .collections > .container div.slick-slide{
	margin: 0 .5rem;
	padding: .8rem;
	transition: all .3s ease;
}
main.hotsite .collections > .container div.slick-slide > img{

}
main.hotsite .collections > .container div.slick-slide:not(.slick-center){
	opacity: 0.8;
}
main.hotsite .collections > .container div.slick-active.slick-center{
	opacity: 1;
	transform: scale(1.08);
}
main.hotsite .collections > .container img{

}

@media screen and (max-width: 831px) and (orientation: portrait){
	main.hotsite .moodsDestaq{
		width: 100%;
	}
}