@charset "utf-8";
/*
*  Code by William Di Biasi Bogik
*
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

main.hotsite h1,
main.hotsite h2,
main.hotsite h3{
	font-family: 'Playfair Display', serif !important;
	color: var(--brand-color);
}
main.hotsite .main-info{
	margin: 0 auto;
}
main.hotsite h1{
	font-size: 2rem !important;
}
main.hotsite .text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-row-gap: 1rem;
	row-gap: 1rem;
}
main.hotsite .text .frase-efeito > p{
	font-style: italic;
	color: var(--dark);
}
main.hotsite .text .redes-sociais span:hover,
main.hotsite .text .redes-sociais a:hover{
	color: var(--brand-color);
}
@media screen and (max-width: 831px) and (orientation: portrait){
	main.hotsite .main-info{
		width: 100% !important;
		padding: .5rem 1rem !important;
	}
	main.hotsite .main-info > *{
		flex-basis: 100%;
	}
}