@charset "utf-8";
/*
 *	Code by William Di Biasi Bogik
 *
 */
:root{
	--brand-color: #4AD6BE;
}
*{
	scroll-behavior: smooth;
	-webkit-font-smoothing: subpixel-antialiased;
}
*, 
::after,
::before{
	box-sizing: border-box;
}
.uppercase{
	text-transform: uppercase;
}
.center{
	text-align: center;
}
body{
	min-height: 100vh;
	width: 100%;
	padding: 0rem;
	margin: 0rem;
	position: relative;
	overflow-x: hidden;
}
main.content.hotsite{
	font-family: 'Montserrat', sans-serif;
}
main.content.hotsite *{
	margin: 0;
	padding: 0;
}
main.content.hotsite img{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
main.content.hotsite h2{
	font-size: 1.625rem;
	margin-bottom: 1.875rem;
}
main.content.hotsite a{
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: none;
}
main.content.hotsite .slick-slider .slick-arrow{
	font-size: 0;
	line-height: 0;
	display: block;
	width: auto;
	height: auto;
	margin-right: 0.5rem;
	cursor: pointer;
	color: transparent;
	border: 0;
	text-decoration: none;
	background-color: transparent;
	transform: translate(0, -50%);

	position: absolute;
	margin: auto 0;
	border: solid #858585;
	border-width: 0 0.3125rem 0.3125rem 0;
	padding: 0.5rem;
	top: 50%;
	z-index: 1;
}
main.content.hotsite .slick-slider .slick-arrow.slick-prev{
	transform: translate(0, -50%) rotate(135deg);
	left: 1rem;
}
main.content.hotsite .slick-slider .slick-arrow.slick-next{
	transform: translate(0, -50%) rotate(-45deg);
	right: 1rem;
}
main.content.hotsite section#banner-topo{
	min-height: fit-content;
	background-color: #4D4D4D;
	color: #FFFFFF;
}
main.content.hotsite section#banner-topo > .wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	grid-row-gap: 5rem;
	row-gap: 5rem;
}
main.content.hotsite section#banner-topo > .wrapper > *{
	flex: 1 1 100%;
}
main.content.hotsite section#banner-topo > .wrapper > h1{
	font-size: 5.188rem;
	padding: 2rem 0;
	margin: 0;
}
main.content.hotsite section#banner-topo > .wrapper > div.text > p{
	font-size: 1.875rem;
	font-weight: 600;
	margin: 0 auto;
	width: 70%;
}
main.content.hotsite section#banner-topo > .wrapper > ul.banner-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0;
	padding: 1rem 0;
	list-style: none;
	background-color: var(--brand-color);
	color: #000000;
}
main.content.hotsite section#banner-topo > .wrapper > ul.banner-menu li{
	font-size: 1.188rem;
	font-weight: 600;
	list-style: none;
	display: inline-block;
}
main.content.hotsite section#presentes-destaq{
	padding: 3rem 0;
	background-color: #EEEEEE;
}
main.content.hotsite section#presentes-destaq > .wrapper,
main.content.hotsite section > .vitrine,
main.content.hotsite section#banner-baixo__flutuante,
main.content.hotsite section#itens-faq{
	width: 70vw;
	margin: 0 auto;
}
main.content.hotsite section#presentes-destaq > .wrapper h2{
	margin: 0 0 1.4rem 0;
}
main.content.hotsite section#presentes-destaq > .wrapper .slicker figure{
	text-align: center;
	padding: 1rem;
}
main.content.hotsite section#presentes-destaq > .wrapper .slicker figure > figcaption{
	margin-top: 1.5rem;
}
main.content.hotsite section#presentes-vitrine__1,
main.content.hotsite section#presentes-vitrine__2{
	padding: 3rem 0;
}
main.content.hotsite section#presentes-vitrine__1 > .wrapper,
main.content.hotsite section#presentes-vitrine__2 > .wrapper{
	width: 70vw;
	margin: 0 auto;
}
main.content.hotsite section#itens-faq > details{
	margin: 1rem 0;
}
main.content.hotsite section#itens-faq > details > summary{
	position: relative;
	font-size: 1.2rem;
	list-style: none;
	padding: 1.2rem 0;
	border-radius: .5rem;
	background-color: #DCDCDC;
	text-align: center;
	cursor: pointer;
}
main.content.hotsite section#itens-faq > details > summary::after{
	content: '';
	position: absolute;
	right: 1.5rem;
	top: 50%;
	border-style: solid;
	border-width: 10px 0 10px 20px;
	border-color: transparent transparent transparent var(--brand-color);
	transform: translateY(-50%);
	transition: 0.5s ease-in-out;
}
main.content.hotsite section#itens-faq > details[open] > summary::after{
	transform: rotate(90deg) translateX(-50%);
}
main.content.hotsite section#itens-faq > details > div{
	text-align: center;
	margin-top: .5rem;
	padding: .7rem;
	border-radius: .5rem;
	background-color: #ABABAB;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
main.content.hotsite section#itens-faq > details[open] > div{
	opacity: 1;
	transition: all 0.5s ease-in-out;
}
main.content.hotsite .back-to-top_container{
	padding: 1rem;
}
main.content.hotsite .back-to-top_container > .back-to-top{
	padding: 1rem 1.5rem;
	color: #FFFFFF;
}
main.content.hotsite .prateleira.arrumado{
	margin: 2rem 0 0 0;
}
main.content.hotsite .prateleira.arrumado > h2{
	display: none;
}
main.content.hotsite .prateleira.arrumado > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
main.content.hotsite .prateleira.arrumado > ul > li{
	position: relative;
	list-style: none;
	flex: 0 1 20%;
}
main.content.hotsite .prateleira.arrumado > ul > li .highlight p:not(.flag.colecao---flag-template){
	display: none;
}
main.content.hotsite .prateleira.arrumado > ul > li .data > h3{
	text-transform: uppercase;
	font-size: 0.75rem;
	color: #000000;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 2rem;
	line-height: 1.4em;
	margin: 0.625rem 0.3125rem 0.3125rem 0;
}
main.content.hotsite .prateleira.arrumado > ul > li .data > .discount > .flag.off{
	display: none;
}
main.content.hotsite .prateleira.arrumado > ul > li .data > .price > a > .newPrice{
	font-size: 1.125rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--brand-color);
}
main.content.hotsite .prateleira.arrumado > ul > li .data > .price > a > .installment{
	font-size: 0.75rem;
	color: #858585;
}
main.content.hotsite .prateleira.arrumado > ul > li .quickview, 
main.content.hotsite .prateleira.arrumado > ul > li .gift-list-wished, 
main.content.hotsite .prateleira.arrumado > ul > li .gift-list-purchased, 
main.content.hotsite .prateleira.arrumado > ul > li .brand, 
main.content.hotsite .prateleira.arrumado > ul > li .gift-list-insert, 
main.content.hotsite .prateleira.arrumado > ul > li .category,
main.content.hotsite .prateleira.arrumado > ul > li .rnk-buy-button-normal > a{
	display: none;
}
main.content.hotsite .prateleira.arrumado > ul > li .rnk-buy-button-normal{
	min-height: 3.5rem;
	margin: 0.625rem auto 0 auto;
}
main.content.hotsite .prateleira.arrumado > ul > li:hover .rnk-buy-button-normal > a{
	display: block;
	text-align: center;
	cursor: pointer;
	border-radius: 0.1875rem;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	padding: 0.8125rem 0;
	color: #000000;
	font-weight: 600;
	background-color: var(--brand-color);
	border: 3px solid var(--brand-color);
	font-size: 12px;
	letter-spacing: .6px;
}
main.content.hotsite .prateleira.arrumado > ul > li:hover .rnk-buy-button-normal:hover > a{
	background-color: transparent;
	border: 3px solid var(--brand-color);
}
main.content.hotsite .prateleira.arrumado > button.moreProducts{
	position: relative;
	display: block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1rem;
	margin: 1.5rem auto 0 auto;
	text-align: center;
	background: #38AB98;
	color: #FFFFFF;
	border: none;
	border-radius: 15px;
	padding: 0.5rem 2.5rem;
}
@media screen and (max-width: 831px){
	main.content.hotsite h2{
		font-size: 1.4rem;
	}
	main.content.hotsite section#banner-topo > .wrapper{
		display: initial;
	}
	main.content.hotsite section#banner-topo > .wrapper > h1{
		font-size: 2.5rem;
		padding: 1rem 0;
	}
	main.content.hotsite section#banner-topo > .wrapper > div.text > p{
		font-size: 1rem;
		font-weight: normal;
		width: 100%;
		padding: 1rem 0.5rem 2rem 0.5rem;
	}
	main.content.hotsite section#presentes-destaq{
		padding: 1.7rem 0;
	}
	main.content.hotsite section#presentes-destaq > .wrapper, 
	main.content.hotsite section > .vitrine,
	main.content.hotsite section#banner-baixo__flutuante, 
	main.content.hotsite section#itens-faq{
		width: 100%;
	}
	main.content.hotsite section#banner-baixo__flutuante,
	main.content.hotsite section#itens-faq{
		padding: 0 0.5rem;
	}
}